<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean name="allDao" class="com.gennlife.platform.dao.AllDao">
		<property name="syUserDao" ref="syUserDao" />
        <property name="syRoleDao" ref="syRoleDao" />
        <property name="syResourceDao" ref="syResourceDao" />
        <property name="orgDao" ref="orgDao" />
        <property name="projectDao" ref="projectDao" />
		<property name="groupDao" ref="groupDao" />
	</bean>
</beans>