<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    <bean id = "SpringContextUtil" class="com.gennlife.platform.util.SpringContextUtil" scope="singleton"/>
	<import resource="applicationContext-dao.xml"></import>
    <import resource="applicationContext-mybatis.xml"></import>
    <import resource="conf.xml"></import>
    <import resource="defaultconf.xml"></import>
    <bean id = "FileLocation" class="com.gennlife.platform.configuration.FileBean">
        <property name="manageFileLocation" value="/opt/tmp/ui/update/"/>
        <property name="CRFFileLocation" value="/opt/tmp/ui/CRFFile"/>
    </bean>
</beans>