<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.platform.dao.SyResourceMapper" >

  <resultMap id="com.gennlife.platform.model.Resource" type="com.gennlife.platform.model.Resource">
    <result column="gennlife_resource.sid" property="sid" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sdesc" property="sdesc" jdbcType="VARCHAR" />
    <result column="stype" property="stype" jdbcType="VARCHAR" />
    <result column="slab_type" property="slab_type" jdbcType="VARCHAR" />
    <result column="slab_name" property="slab_name" jdbcType="VARCHAR" />
    <result column="sorgID" property="sorgID" jdbcType="VARCHAR" />
    <result column="has_search" property="has_search" jdbcType="VARCHAR" />
    <result column="has_searchExport" property="has_searchExport" jdbcType="VARCHAR" />
    <result column="has_traceCRF" property="has_traceCRF" jdbcType="VARCHAR" />
    <result column="has_addCRF" property="has_addCRF" jdbcType="VARCHAR" />
    <result column="has_editCRF" property="has_editCRF" jdbcType="VARCHAR" />
    <result column="has_browseDetail" property="has_browseDetail" jdbcType="VARCHAR" />
    <result column="has_addBatchCRF" property="has_addBatchCRF" jdbcType="VARCHAR" />
    <result column="has_deleteCRF" property="has_deleteCRF" jdbcType="VARCHAR" />
    <result column="stype_role" property="stype_role" jdbcType="VARCHAR" />
    <result column="has_searchCRF" property="has_searchCRF" jdbcType="VARCHAR"/>
    <result column="has_importCRF" property="has_importCRF" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="resourceProperty">
    gennlife_resource.sid,sname,sdesc,stype,slab_type,slab_name,sorgID,has_search,has_searchExport,has_traceCRF,has_addCRF,
    has_editCRF,has_browseDetail,has_addBatchCRF,has_deleteCRF,stype_role,has_searchCRF,has_importCRF
  </sql>
  
  <select id="getResources" resultMap="com.gennlife.platform.model.Resource"  parameterType="map">
    select
      <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
  </select>

  <select id="getResourcesBySid" resultMap="com.gennlife.platform.model.Resource" >
    select
    <include refid="resourceProperty" />
    FROM
    gennlife_role_resource,gennlife_resource
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_resource.sid = #{sid}
    AND gennlife_role_resource.roleid = #{roleid}
  </select>

  <select id="getAllResources" resultMap="com.gennlife.platform.model.Resource" >
    select
    <include refid="resourceProperty" />
    FROM
    gennlife_role_resource,gennlife_resource
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
  </select>

  <select id="getResourceByRoleID" resultMap="com.gennlife.platform.model.Resource">
    SELECT
    <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    WHERE gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
    LIMIT #{offset},#{limit}
  </select>
  <insert id="insertRoleResourceRelation" parameterType="com.gennlife.platform.model.Resource">
    insert into gennlife_role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      roleid,
      sid,
      orgID,
      <if test="has_search != null" >
        has_search,
      </if>
      <if test="has_searchExport != null" >
        has_searchExport,
      </if>
      <if test="has_traceCRF != null" >
        has_traceCRF,
      </if>
      <if test="has_addCRF != null" >
        has_addCRF,
      </if>
      <if test="has_editCRF != null" >
        has_editCRF,
      </if>
      <if test="has_deleteCRF != null" >
        has_deleteCRF,
      </if>
      <if test="has_browseDetail != null" >
        has_browseDetail,
      </if>
      <if test="has_addBatchCRF != null" >
        has_addBatchCRF,
      </if>
      <if test="has_searchCRF != null" >
        has_searchCRF,
      </if>
      <if test="has_importCRF != null" >
        has_importCRF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{roleid,jdbcType=INTEGER},
      #{sid,jdbcType=VARCHAR},
      #{sorgID,jdbcType=VARCHAR},
      <if test="has_search != null" >
        #{has_search,jdbcType=VARCHAR},
      </if>
      <if test="has_searchExport != null" >
        #{has_searchExport,jdbcType=VARCHAR},
      </if>
      <if test="has_traceCRF != null" >
        #{has_traceCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_addCRF != null" >
        #{has_addCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_editCRF != null" >
        #{has_editCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_deleteCRF != null" >
        #{has_deleteCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_browseDetail != null" >
        #{has_browseDetail,jdbcType=VARCHAR},
      </if>
      <if test="has_addBatchCRF != null" >
        #{has_addBatchCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_searchCRF != null" >
        #{has_searchCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_importCRF != null" >
        #{has_importCRF,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="findRoleResourceRelationCounter" resultType="INTEGER">
    SELECT
    COUNT(sid)
    FROM
    gennlife_role_resource
    WHERE
    sid= #{sid} AND roleid = #{roleid}
  </select>
  <resultMap id="com.gennlife.platform.model.LabResource" type="com.gennlife.platform.model.LabResource">
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sdesc" property="sdesc" jdbcType="VARCHAR" />
    <result column="stype" property="stype" jdbcType="VARCHAR" />
    <result column="slab_type" property="slab_type" jdbcType="VARCHAR" />
    <result column="slab_name" property="slab_name" jdbcType="VARCHAR" />
    <result column="sorgID" property="sorgID" jdbcType="VARCHAR" />
    <result column="slab_parent" property="slab_parent" jdbcType="VARCHAR" />
    <result column="slab_type" property="slab_type" jdbcType="VARCHAR" />
    <result column="stype_role" property="stype_role" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="labResourceProperty">
    sid,sname,sdesc,stype,slab_name,sorgID,slab_parent,slab_type,stype_role
  </sql>
  <insert id="insertOneResource" parameterType="com.gennlife.platform.model.LabResource">
    insert into gennlife_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      sid,
      sname,
      sdesc,
      stype,
      slab_name,
      sorgID,
      slab_parent,
      <if test="slab_type != null" >
        slab_type,
      </if>
      <if test="stype_role != null" >
        stype_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sid,jdbcType=VARCHAR},
      #{sname,jdbcType=VARCHAR},
      #{sdesc,jdbcType=VARCHAR},
      #{stype,jdbcType=VARCHAR},
      #{slab_name,jdbcType=VARCHAR},
      #{sorgID,jdbcType=VARCHAR},
      #{slab_parent,jdbcType=VARCHAR},
      <if test="slab_type != null" >
        #{slab_type,jdbcType=VARCHAR},
      </if>
      <if test="stype_role != null" >
        #{stype_role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteLabsReource">
    DELETE FROM gennlife_resource
    WHERE stype='病例数据' AND sid IN
    <foreach collection="sids" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <delete id="deleteRoleItem">
    DELETE FROM gennlife_role_resource
    WHERE sid IN
    <foreach collection="sids" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <select id="selectDeleteLabsReource" resultType="java.lang.String">
    select  sid FROM gennlife_resource
    WHERE stype='病例数据' AND sid IN
    <foreach collection="sids" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="getLabResourcesByOrgID" resultType="com.gennlife.platform.model.LabResource">
    SELECT
    <include refid="labResourceProperty"/>
    FROM
    gennlife_resource
    WHERE
    sorgID = #{orgID} AND stype = #{stype}

  </select>
  <select id="getResourceByRoleIDCounter" resultType="INTEGER">
    SELECT count(gennlife_role_resource.sid)
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    WHERE gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
  </select>

  <update id="updateResource" parameterType="com.gennlife.platform.model.LabResource">
    UPDATE
    gennlife_resource
    <set>
      <if test="sname !=null">
      sname=#{sname,jdbcType=VARCHAR},
      </if>
      <if test="sdesc != null">
      sdesc=#{sdesc,jdbcType=VARCHAR},
      </if>
      <if test="slab_name != null">
      slab_name=#{slab_name,jdbcType=VARCHAR},
      </if>
      <if test="slab_parent!=null">
        slab_parent=#{slab_parent,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE sid = #{sid,jdbcType=VARCHAR} and sorgID = #{sorgID,jdbcType=VARCHAR}
  </update>


  <resultMap id="com.gennlife.platform.model.CRFLab" type="com.gennlife.platform.model.CRFLab">
    <result column="gennlife_lab_crf.labID" property="labID" jdbcType="VARCHAR" />
    <result column="gennlife_lab_crf.crf_id" property="crf_id" jdbcType="VARCHAR" />
    <result column="gennlife_lab_crf.crf_name" property="crf_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="CRFLabProperty">
    gennlife_lab_crf.labID,gennlife_lab_crf.crf_id,gennlife_lab_crf.crf_name
  </sql>
  <select id="getCrfIDByLab" resultType="com.gennlife.platform.model.CRFLab">
    SELECT
    <include refid="CRFLabProperty"/>
    FROM gennlife_lab_crf
    WHERE labID=#{labID} AND orgID = #{orgID}
  </select>
  <select id="isExistsCrfID" resultType="java.lang.Integer">
    SELECT
    count(1)
    FROM gennlife_lab_crf
    WHERE labID=#{labID} AND orgID = #{orgID} and crf_id=#{crf_id}
  </select>

  <select id="getCrfIDListByLab" resultType="com.gennlife.platform.model.CRFLab">
    SELECT
    <include refid="CRFLabProperty"/>
    FROM gennlife_lab_crf
    WHERE crf_id != "" AND  orgID = #{orgID} AND labID in
    <foreach collection="labIDs" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="getSidsByRoleid" resultType="String">
    select  sid  FROM gennlife_role_resource
    WHERE roleid=#{roleid,jdbcType=VARCHAR}
  </select>

  <select id="getLabResourcesBySid" resultType="com.gennlife.platform.model.LabResource">
    SELECT
    <include refid="labResourceProperty"/>
    FROM
    gennlife_resource
    WHERE
    sid = #{sid}
  </select>

</mapper>