<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.platform.dao.SyResourceMapper" >

  <resultMap id="com.gennlife.platform.model.Resource" type="com.gennlife.platform.model.Resource">
    <result column="gennlife_resource.sid" property="sid" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sdesc" property="sdesc" jdbcType="VARCHAR" />
    <result column="stype" property="stype" jdbcType="VARCHAR" />
    <result column="slab_type" property="slab_type" jdbcType="VARCHAR" />
    <result column="slab_name" property="slab_name" jdbcType="VARCHAR" />
    <result column="sorgID" property="sorgID" jdbcType="VARCHAR" />
    <result column="has_search" property="has_search" jdbcType="VARCHAR" />
    <result column="has_searchExport" property="has_searchExport" jdbcType="VARCHAR" />
    <result column="has_traceCRF" property="has_traceCRF" jdbcType="VARCHAR" />
    <result column="has_addCRF" property="has_addCRF" jdbcType="VARCHAR" />
    <result column="has_editCRF" property="has_editCRF" jdbcType="VARCHAR" />
    <result column="has_browseDetail" property="has_browseDetail" jdbcType="VARCHAR" />
    <result column="has_addBatchCRF" property="has_addBatchCRF" jdbcType="VARCHAR" />
    <result column="has_deleteCRF" property="has_deleteCRF" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="resourceProperty">
    gennlife_resource.sid,sname,sdesc,stype,slab_type,slab_name,sorgID,has_search,has_searchExport,has_traceCRF,has_addCRF,
    has_editCRF,has_browseDetail,has_addBatchCRF,has_deleteCRF
  </sql>
  
  <select id="getResources" resultMap="com.gennlife.platform.model.Resource"  parameterType="map">
    select
      <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
  </select>

  <select id="getResourcesBySid" resultMap="com.gennlife.platform.model.Resource"  parameterType="map">
    select
    <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_resource.sid = #{sid}
  </select>
</mapper>