<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.platform.dao.SyResourceMapper" >

  <resultMap id="com.gennlife.platform.model.Resource" type="com.gennlife.platform.model.Resource">
    <result column="gennlife_resource.sid" property="sid" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sdesc" property="sdesc" jdbcType="VARCHAR" />
    <result column="stype" property="stype" jdbcType="VARCHAR" />
    <result column="slab_type" property="slab_type" jdbcType="VARCHAR" />
    <result column="slab_name" property="slab_name" jdbcType="VARCHAR" />
    <result column="sorgID" property="sorgID" jdbcType="VARCHAR" />
    <result column="has_search" property="has_search" jdbcType="VARCHAR" />
    <result column="has_searchExport" property="has_searchExport" jdbcType="VARCHAR" />
    <result column="has_traceCRF" property="has_traceCRF" jdbcType="VARCHAR" />
    <result column="has_addCRF" property="has_addCRF" jdbcType="VARCHAR" />
    <result column="has_editCRF" property="has_editCRF" jdbcType="VARCHAR" />
    <result column="has_browseDetail" property="has_browseDetail" jdbcType="VARCHAR" />
    <result column="has_addBatchCRF" property="has_addBatchCRF" jdbcType="VARCHAR" />
    <result column="has_deleteCRF" property="has_deleteCRF" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="resourceProperty">
    gennlife_resource.sid,sname,sdesc,stype,slab_type,slab_name,sorgID,has_search,has_searchExport,has_traceCRF,has_addCRF,
    has_editCRF,has_browseDetail,has_addBatchCRF,has_deleteCRF
  </sql>
  
  <select id="getResources" resultMap="com.gennlife.platform.model.Resource"  parameterType="map">
    select
      <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
  </select>

  <select id="getResourcesBySid" resultMap="com.gennlife.platform.model.Resource"  parameterType="map">
    select
    <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    where
    gennlife_resource.sorgID=#{orgID}
    AND gennlife_resource.sid = #{sid}
  </select>
  <select id="getResourceByRoleID" resultMap="com.gennlife.platform.model.Resource">
    SELECT
    <include refid="resourceProperty" />
    FROM
    gennlife_role_resource JOIN gennlife_resource on gennlife_role_resource.sid = gennlife_resource.sid
    WHERE gennlife_resource.sorgID=#{orgID}
    AND gennlife_role_resource.roleid = #{roleid}
    LIMIT #{offset},#{limit}
  </select>
  <insert id="insertRoleResourceRelation" parameterType="com.gennlife.platform.model.Resource">
    insert into gennlife_role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      roleid,
      sid,
      orgID,
      <if test="has_search != null" >
        has_search,
      </if>
      <if test="has_searchExport != null" >
        has_searchExport,
      </if>
      <if test="has_traceCRF != null" >
        has_traceCRF,
      </if>
      <if test="has_addCRF != null" >
        has_addCRF,
      </if>
      <if test="has_editCRF != null" >
        has_editCRF,
      </if>
      <if test="has_deleteCRF != null" >
        has_deleteCRF,
      </if>
      <if test="has_browseDetail != null" >
        has_browseDetail,
      </if>
      <if test="has_addBatchCRF != null" >
        has_addBatchCRF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{roleid,jdbcType=INTEGER},
      #{sid,jdbcType=VARCHAR},
      #{sorgID,jdbcType=VARCHAR},
      <if test="has_search != null" >
        #{has_search,jdbcType=VARCHAR},
      </if>
      <if test="has_searchExport != null" >
        #{has_searchExport,jdbcType=VARCHAR},
      </if>
      <if test="has_traceCRF != null" >
        #{has_traceCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_addCRF != null" >
        #{has_addCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_editCRF != null" >
        #{has_editCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_deleteCRF != null" >
        #{has_deleteCRF,jdbcType=VARCHAR},
      </if>
      <if test="has_browseDetail != null" >
        #{has_browseDetail,jdbcType=VARCHAR},
      </if>
      <if test="has_addBatchCRF != null" >
        #{has_addBatchCRF,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="findRoleResourceRelationCounter" resultType="INTEGER">
    SELECT
    COUNT(sid)
    FROM
    gennlife_role_resource
    WHERE
    sid= #{sid} AND roleid = #{roleid}
  </select>
</mapper>