<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.platform.dao.SyRoleMapper" >

    <resultMap id="com.gennlife.platform.model.Role" type="com.gennlife.platform.model.Role" >
        <result column="gennlife_role.roleid" property="roleid" jdbcType="INTEGER" />
        <result column="role" property="role" jdbcType="VARCHAR" />
        <result column="orgID" property="orgID" jdbcType="VARCHAR" />
        <result column="desctext" property="desctext" jdbcType="VARCHAR" />
        <result column="role_type" property="role_type" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="creatorID" property="creatorID" jdbcType="VARCHAR" />
        <result column="ctime" property="ctime" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="com.gennlife.platform.model.DepartmentMap" type="com.gennlife.platform.model.DepartmentMap" >
        <result column="lab_id" property="lab_id" jdbcType="VARCHAR" />
        <result column="depart_name" property="depart_name" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="roleProperty">
        gennlife_role.roleid,role,orgID,desctext,role_type,ctime,creator,creatorID
    </sql>
    <select id="getRoles" resultMap="com.gennlife.platform.model.Role"  parameterType="map">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role JOIN gennlife_user_role ON gennlife_role.roleid = gennlife_user_role.roleid
        WHERE gennlife_role.orgID = #{orgID}
        AND gennlife_user_role.uid = #{uid}
    </select>

    <select id="getLabMember" resultMap="com.gennlife.platform.model.Role">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID}
        AND gennlife_role.role_type = '1'
    </select>
    <insert id="insertUserRoleRelation">
        insert into gennlife_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            uid,roleid
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{uid},
            #{roleid}
        </trim>
    </insert>
    <delete id="deleteByUids">
        DELETE FROM gennlife_user_role
        WHERE
        uid in
        <foreach collection="uids" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <select id="searchRoles" resultMap="com.gennlife.platform.model.Role">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID}
          AND
        (gennlife_role.role LIKE CONCAT(CONCAT('%', #{skey}), '%') OR
        gennlife_role.desctext LIKE CONCAT(CONCAT('%', #{skey}), '%'))
        order by gennlife_role.role
        LIMIT #{offset},#{limit}
    </select>
    <select id="searchRolesCounter" resultType="java.lang.Integer">
        select
           count(roleid)
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID}
            AND
        (gennlife_role.role LIKE CONCAT(CONCAT('%', #{skey}), '%') OR
        gennlife_role.desctext LIKE CONCAT(CONCAT('%', #{skey}), '%'))
    </select>
    <delete id="deleteRelationsByRoleids">
        DELETE FROM gennlife_user_role
        WHERE
        roleid in
        <foreach collection="roleids" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <select id="getRoleByroleid" resultType="com.gennlife.platform.model.Role">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role
        WHERE gennlife_role.roleid = #{roleid}
    </select>
    <select id="getRoleByRoleName" resultType="com.gennlife.platform.model.Role">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID} AND gennlife_role.role = #{role}
    </select>

    <delete id="deleteRelationsWithReourcesByRoleids">
        DELETE FROM gennlife_role_resource
        WHERE
        roleid in
        <foreach collection="roleids" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>

    <delete id="deleteRolesByRoleids">
        DELETE FROM gennlife_role
        WHERE
        roleid in
        <foreach collection="roleids" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insertUserRole" parameterType="com.gennlife.platform.model.Role">
        insert into gennlife_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            role,orgID,desctext,role_type,ctime,creator,creatorID
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{role},
            #{orgID},
            #{desctext},
            #{role_type},
            #{ctime},
            #{creator},
            #{creatorID}
        </trim>
    </insert>
    <select id="findUserRoleRelationCounter" resultType="INTEGER">
        SELECT
        count(uid)
        FROM
        gennlife_user_role
        WHERE
        uid= #{uid} AND roleid = #{roleid}
    </select>
    <update id="updateUserRole" parameterType="com.gennlife.platform.model.Role">
        UPDATE
			gennlife_role
		<set>
          <if test="role !=null">
              role = #{role,jdbcType=VARCHAR},
          </if>
          <if test= "desctext !=null">
              desctext = #{desctext,jdbcType=VARCHAR},
          </if>
          <if test= "role_type !=null">
              role_type = #{role_type,jdbcType=VARCHAR}
          </if>
        </set>
		WHERE roleid = #{roleid,jdbcType=INTEGER}
    </update>
    <select id="getSlabNames" resultMap="com.gennlife.platform.model.DepartmentMap">
        SELECT
        *
        FROM
        gennlife_lab_map
    </select>
    <select id="getSlabNameMappingByLabName" resultType="java.lang.String">
        SELECT
        depart_name
        FROM
        gennlife_lab_map where lab_id=
        (
        select labID  from gennlife_lab where  lab_name=#{lab_name} and orgID=#{orgID}
        )

    </select>
    <select id="getUserIdByRole" >
        SELECT
        uid
        FROM
        gennlife_user_role where roleid=#{roleid}

    </select>

</mapper>