<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.platform.dao.SyRoleMapper" >

    <resultMap id="com.gennlife.platform.model.Role" type="com.gennlife.platform.model.Role" >
        <result column="gennlife_role.roleid" property="roleid" jdbcType="INTEGER" />
        <result column="role" property="role" jdbcType="VARCHAR" />
        <result column="orgID" property="orgID" jdbcType="VARCHAR" />
        <result column="desctext" property="desctext" jdbcType="VARCHAR" />
        <result column="role_type" property="role_type" jdbcType="VARCHAR" />
        <result column="ctime" property="ctime" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="roleProperty">
        gennlife_role.roleid,role,orgID,desctext,role_type,ctime
    </sql>
    <select id="getRoles" resultMap="com.gennlife.platform.model.Role"  parameterType="map">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role JOIN gennlife_user_role ON gennlife_role.roleid = gennlife_user_role.roleid
        WHERE gennlife_role.orgID = #{orgID}
        AND gennlife_user_role.uid = #{uid}
    </select>

    <select id="getLabMember" resultMap="com.gennlife.platform.model.Role">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID}
        AND gennlife_role.role = '科室成员'
    </select>
    <insert id="insertUserRoleRelation">
        insert into gennlife_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            uid,roleid
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{uid},
            #{roleid}
        </trim>
    </insert>
    <delete id="deleteByUids">
        DELETE FROM gennlife_user_role
        WHERE
        uid in
        <foreach collection="uids" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <select id="searchRoles" resultMap="com.gennlife.platform.model.Role">
        select
        <include refid="roleProperty" />
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID}
          AND
        (gennlife_role.role LIKE CONCAT(CONCAT('%', #{skey}), '%') OR
        gennlife_role.desctext LIKE CONCAT(CONCAT('%', #{skey}), '%'))
        LIMIT #{offset},#{limit}
    </select>
    <select id="searchRolesCounter" resultType="java.lang.Integer">
        select
           count(roleid)
        FROM
        gennlife_role
        WHERE gennlife_role.orgID = #{orgID}
            AND
        (gennlife_role.role LIKE CONCAT(CONCAT('%', #{skey}), '%') OR
        gennlife_role.desctext LIKE CONCAT(CONCAT('%', #{skey}), '%'))
    </select>
</mapper>