<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.platform.dao.SyUserMapper">

	<resultMap id="com.gennlife.platform.model.User" type="com.gennlife.platform.model.User">
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="uname" property="uname" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="uposition" property="uposition" jdbcType="VARCHAR" />
		<result column="uprofession" property="uprofession" jdbcType="VARCHAR" />
		<result column="orgID" property="orgID" jdbcType="VARCHAR" />
		<result column="org_name" property="org_name" jdbcType="VARCHAR" />
		<result column="labID" property="labID" jdbcType="VARCHAR" />
		<result column="lab_name" property="lab_name" jdbcType="VARCHAR" />
		<result column="telphone" property="telphone" jdbcType="VARCHAR" />
		<result column="uemail" property="uemail" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="ctime" property="ctime" jdbcType="VARCHAR"/>
		<result column="uptime" property="uptime" jdbcType="VARCHAR"/>
		<result column="unumber" property="unumber" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="userProperty">
		uid,uname,pwd,uposition,uprofession,orgID,org_name,labID,lab_name,telphone,uemail,age,sex,ctime,uptime,unumber
	</sql>
	<select id="getUser" resultMap="com.gennlife.platform.model.User"  parameterType="map">
		SELECT
		<include refid="userProperty" />
		FROM gennlife_user
		<where> gennlife_user.uemail = #{email} AND gennlife_user.pwd = #{pwd} </where>
	</select>


	<select id="getUidByEmail" resultType="java.lang.String" parameterType="map">
		SELECT uid
		From gennlife_user
		<where> gennlife_user.uemail = #{email} limit 1 </where>
	</select>
	<update id="updateByUid" parameterType="com.gennlife.platform.model.User">
		UPDATE
			gennlife_user
		<set>
			<if test="uname != null">
				uname = #{uname,jdbcType=VARCHAR},
			</if>
			<if test="uemail != null">
				uemail = #{uemail,jdbcType=VARCHAR},
			</if>
			<if test="uposition != null">
				uposition = #{uposition,jdbcType=VARCHAR},
			</if>
			<if test="uprofession != null">
				uprofession = #{uprofession,jdbcType=VARCHAR},
			</if>
			<if test="labID != null">
				labID = #{labID,jdbcType=VARCHAR},
			</if>
			<if test="lab_name != null">
				lab_name = #{lab_name,jdbcType=VARCHAR},
			</if>
			<if test="telphone != null">
				telphone = #{telphone,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="uptime != null">
				uptime = #{uptime,jdbcType=VARCHAR},
			</if>
			<if test="unumber != null">
				unumber = #{unumber,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE uid = #{uid,jdbcType=VARCHAR}
	</update>
	<select id="getUserByUid" resultType="com.gennlife.platform.model.User" parameterType="map">
		SELECT
		<include refid="userProperty" />
		FROM gennlife_user
		<where> gennlife_user.uid = #{uid,jdbcType=VARCHAR} </where>
	</select>
	<update id="updatePWD" parameterType="map">
		UPDATE
			gennlife_user
		SET pwd = #{pwd,jdbcType=VARCHAR},md5=''
		WHERE uemail = #{email,jdbcType=VARCHAR} AND md5 = #{md5,jdbcType=VARCHAR}
	</update>

	<update id="updateMd5" parameterType="map">
		UPDATE
			gennlife_user
		SET md5 = #{md5,jdbcType=VARCHAR}
		WHERE uemail = #{email,jdbcType=VARCHAR}
	</update>

	<select id="existEmail" resultType="java.lang.Integer" parameterType="map">
		SELECT
		count(uid)
		FROM gennlife_user
		<where> gennlife_user.uemail=#{email,jdbcType=VARCHAR} </where>
	</select>
	<resultMap id="com.gennlife.platform.model.Admin" type="com.gennlife.platform.model.Admin">
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="privilegeType" property="privilegeType" jdbcType="VARCHAR" />
		<result column="privilegeValue" property="privilegeValue" jdbcType="VARCHAR" />
		<result column="orgID" property="orgID" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getAdmins" resultType="com.gennlife.platform.model.Admin" parameterType="map">
		SELECT
			uid,privilegeType,privilegeValue,orgID
		FROM
			gennlife_manage
	  	WHERE
	  	    gennlife_manage.uid = #{uid,jdbcType=VARCHAR}
	  	    AND gennlife_manage.orgID = #{orgID,jdbcType=VARCHAR}
	</select>
</mapper>